<?xml version='1.0' encoding='utf-8'?>
<widget id="com.splatteredpixel.munchtech" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MunchTech</name>
    <description>
        Listen to all of the latest episodes from MunchTech.tv!
    </description>
    <author email="app@munchtech.tv" href="http://munchtech.tv">
        MunchTech.tv
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true"/>
</widget>
