.tab-link i {
    font-size: 150%;
}

.statusbar-overlay {
    background-color: #3498db;
}

.navbar {
    background-color: #3498db;
    color: #FFF;
}

.navbar a {
    color: #FFF;
}

.tabbar a.active {
    color: #3498db;
}

.content-block {
    margin: 20px 0;
    padding: 0 10px;
}

hr {
    border: none;
    border-top: 1px solid #e1e1e1;
}

.mt-blue {
    color: #3498db;
}

.button {
    color: #3498db;
    border-color: #3498db;
}
